page-login {
  .haut {
    height: 70%;
    color: #fff;
    background-color:#e4af01;
  }
  .bas {
    height: 30%;
    color: #fff;
    background-color:#e4af01;
  }
  .image {
    height: 75%;
  }
  .titre {
    height: 25%;
  }

}
